body{
    background-color: white;
    min-width: 1200px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
#header{
    background-color: black;
    height: 115px;
}
#header .width{
    overflow: hidden;
}
#cover_image{

}
#menu{
    background-color: #1e1e26;
    margin-left: -50px;
}
#content{
    margin-left: auto;
    margin-right: auto;
    min-height: 1000px;
}
#footer{
    float: bottom;
    background-color: black;
    height: 240px;
    margin-top: 100px;
}
.width{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    float: left;

}
.name{
    font-size: 25px;
    color: white;
    float: left;
    margin-left: 20px;
    font-family: "Guardian Text Egyptian Web",Georgia,serif;
    width: 60%;
}
input{
    width: 100px;
}
.navbar-toggler{
    color: #efefef;
}
.menu{
    color: darkorange;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.smenu{
    color: darkorange;
    text-align: center;
    min-width: 171px;
    font-size: 20px;

}
a{
    text-decoration: none;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e26;
    min-width: 200px;
    z-index: 1;

}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.radius-botom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
a:hover {color: orange}
.smenu a:hover { background-color: #1e1e26; color: orange}
.dropdown-content a:hover {color: orange;background-color: #1e1e26;border-radius: 5px }
.dropdown:hover .dropdown-content {display: block;}
.news{
    background-color: white;
    min-height: 650px;
}
.card-body{
    text-align: left;
}
.card1{
    min-height: 500px;
    width: 380px;
    text-align: center;
    float: left;
    background-color: white;
    margin: 0 15px 0 0;
    border-radius: 12px;
}
.card2{
    min-height: 500px;
    width: 380px;
    text-align: center;
    float: left;
    background-color: white;
    margin: 0 15px;
    border-radius: 12px;
}
.card3 {
    min-height: 500px;
    width: 380px;
    text-align: center;
    float: right;
    background-color: white;
    margin: 0 0 0 15px;
    border-radius: 12px;
}
.card-group a{
    text-align: left;
    color: black;
}
.card-group{
    margin-top: 30px;
}
.contents{
    min-height: 550px;
}
.slide{
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.card-footer{
    height: 60px;
    text-align: left;
    background-color: #e1e6e7;

}
.card-footer small {
    float: left;
    padding-left: 20px;
}
.card-body{
    text-align: left;
    color: black;
    height: 256px;
}
.headline{
    text-align: center;
    color: black;
    height: 40px;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin-top: 50px;
}
.carousel-item{
    max-height: 500px;
    text-align: center;
}
.f1{
    float: left;
    padding: 20px 30px 20px 30px
}
.f2{
    width: 560px;
    float: left;
    padding-top: 50px;
}
.f3{
    width: 420px;
    float: left;
    padding-top: 20px;
}

.footer_deading{
    font-size: 30px;
    color: white;
}
.footer_infor{
    margin-bottom: 10px;
    font-size: 13px;
    color: grey;
}
.read-more{
    width: 100%;
}
.read-more:hover{
    border-radius: 5px;
}
.read-more a{
    width: 100px;
    height: 40px;
    color:#2d292f;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    float: right;
    padding-top: 7px;.
    margin-right: 30px;
    margin-bottom: 15px;
    border-bottom: solid 2px #2d292f;
}
.color{
    color: #2d292f;
}
.read-more a:hover{
    background-color: #eca55b;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}


/*icon */
.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    font-size: 30px;
}
.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 60px;
    height: 60px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    width: 60px;
    height: 60px;
}
.fa-skype {
    background: #00aff0;
    color: white;
    width: 60px;
    height: 60px;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
    width: 60px;
    height: 60px;
}
.fa-instagram {
    background: #FF00FF;
    color: white;
    width: 60px;
    height: 60px;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.icon{
    text-align: center;
    padding-top: 110px;
}
.social{
    color: darkorange;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}
/*back to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    opacity: 70%;
}

#myBtn:hover {
    background-color: #e2a133;
}
 /* search bar*/

 .d-flex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
     padding-left: 250px;
 }

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.searchbar {
    float: left;
    background-color: black;
    color: white;
    padding: 6px 10px;
    width: 120px;
    border: none;
    margin-top: 1px;
    margin-right: 8px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-bottom: white solid 2px;
    transition: 0.3s;
}

.searchbar::placeholder {
    color: white;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    /* transition: 0.2s; */
}

.searchbar:focus {
    width: 400px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    border-bottom: white solid 2px;
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: white;
    text-decoration: none !important;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding-top: 5px;
    margin-right: 40px;
}
/*star*/
.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(35deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
    top: calc(50% - 146px);
    left: calc(50% - 63px);
    -webkit-animation-delay: 4012ms;
    animation-delay: 4012ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 4012ms;
    animation-delay: 4012ms;
}
.shooting_star:nth-child(2) {
    top: calc(50% - -95px);
    left: calc(50% - 276px);
    -webkit-animation-delay: 5757ms;
    animation-delay: 5757ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 5757ms;
    animation-delay: 5757ms;
}
.shooting_star:nth-child(3) {
    top: calc(50% - -140px);
    left: calc(50% - 87px);
    -webkit-animation-delay: 8824ms;
    animation-delay: 8824ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 8824ms;
    animation-delay: 8824ms;
}
.shooting_star:nth-child(4) {
    top: calc(50% - -87px);
    left: calc(50% - 107px);
    -webkit-animation-delay: 7666ms;
    animation-delay: 7666ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 7666ms;
    animation-delay: 7666ms;
}
.shooting_star:nth-child(5) {
    top: calc(50% - -117px);
    left: calc(50% - 5px);
    -webkit-animation-delay: 6018ms;
    animation-delay: 6018ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 6018ms;
    animation-delay: 6018ms;
}
.shooting_star:nth-child(6) {
    top: calc(50% - -126px);
    left: calc(50% - 232px);
    -webkit-animation-delay: 8598ms;
    animation-delay: 8598ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 8598ms;
    animation-delay: 8598ms;
}
.shooting_star:nth-child(7) {
    top: calc(50% - 13px);
    left: calc(50% - 164px);
    -webkit-animation-delay: 3365ms;
    animation-delay: 3365ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 3365ms;
    animation-delay: 3365ms;
}
.shooting_star:nth-child(8) {
    top: calc(50% - -118px);
    left: calc(50% - 292px);
    -webkit-animation-delay: 3998ms;
    animation-delay: 3998ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    -webkit-animation-delay: 3998ms;
    animation-delay: 3998ms;
}
.shooting_star:nth-child(9) {
    top: calc(50% - -22px);
    left: calc(50% - 200px);
    -webkit-animation-delay: 1848ms;
    animation-delay: 1848ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    -webkit-animation-delay: 1848ms;
    animation-delay: 1848ms;
}
.shooting_star:nth-child(10) {
    top: calc(50% - -40px);
    left: calc(50% - 36px);
    -webkit-animation-delay: 8276ms;
    animation-delay: 8276ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    -webkit-animation-delay: 8276ms;
    animation-delay: 8276ms;
}
.shooting_star:nth-child(11) {
    top: calc(50% - -94px);
    left: calc(50% - 121px);
    -webkit-animation-delay: 9234ms;
    animation-delay: 9234ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    -webkit-animation-delay: 9234ms;
    animation-delay: 9234ms;
}
.shooting_star:nth-child(12) {
    top: calc(50% - 173px);
    left: calc(50% - 83px);
    -webkit-animation-delay: 5939ms;
    animation-delay: 5939ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    -webkit-animation-delay: 5939ms;
    animation-delay: 5939ms;
}
.shooting_star:nth-child(13) {
    top: calc(50% - 157px);
    left: calc(50% - 151px);
    -webkit-animation-delay: 8035ms;
    animation-delay: 8035ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    -webkit-animation-delay: 8035ms;
    animation-delay: 8035ms;
}
.shooting_star:nth-child(14) {
    top: calc(50% - -23px);
    left: calc(50% - 44px);
    -webkit-animation-delay: 2579ms;
    animation-delay: 2579ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    -webkit-animation-delay: 2579ms;
    animation-delay: 2579ms;
}
.shooting_star:nth-child(15) {
    top: calc(50% - -39px);
    left: calc(50% - 295px);
    -webkit-animation-delay: 8827ms;
    animation-delay: 8827ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    -webkit-animation-delay: 8827ms;
    animation-delay: 8827ms;
}
.shooting_star:nth-child(16) {
    top: calc(50% - 199px);
    left: calc(50% - 67px);
    -webkit-animation-delay: 4016ms;
    animation-delay: 4016ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    -webkit-animation-delay: 4016ms;
    animation-delay: 4016ms;
}
.shooting_star:nth-child(17) {
    top: calc(50% - 184px);
    left: calc(50% - 248px);
    -webkit-animation-delay: 3752ms;
    animation-delay: 3752ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    -webkit-animation-delay: 3752ms;
    animation-delay: 3752ms;
}
.shooting_star:nth-child(18) {
    top: calc(50% - -91px);
    left: calc(50% - 210px);
    -webkit-animation-delay: 9318ms;
    animation-delay: 9318ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 9318ms;
    animation-delay: 9318ms;
}
.shooting_star:nth-child(19) {
    top: calc(50% - 2px);
    left: calc(50% - 16px);
    -webkit-animation-delay: 259ms;
    animation-delay: 259ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 259ms;
    animation-delay: 259ms;
}
.shooting_star:nth-child(20) {
    top: calc(50% - 112px);
    left: calc(50% - 242px);
    -webkit-animation-delay: 7688ms;
    animation-delay: 7688ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    -webkit-animation-delay: 7688ms;
    animation-delay: 7688ms;
}

@-webkit-keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}
@-webkit-keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
@-webkit-keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
@-webkit-keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
@keyframes sky {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
